default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  database: receipt_share
  username: root
  password: "root"
development:
  <<: *default


test:
  <<: *default


production:
  <<: *default
  database: <%= ENV['DB_NAME'] %>
  username: <%= ENV['DB_USER'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  host: <%= ENV['DB_HOST'] %>